.audio-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  padding: 34px 74px;
  align-items: center;
}

.audio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-color: #282828c4;
  padding: 10px;
  border-radius: 8px;
}

.surate {
  font-size: 18px;
  font-weight: bold;
  color: white;
  min-width: 120px;
  text-align: center;
}

.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
}
.surate {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 1024px) {
  .audio-parent {
    grid-template-columns: 1fr;
    padding: 16px 32px;
  }
}
@media screen and (max-width: 468px) {
  audio {
    width: 200px;
    height: 32px;
  }
  .audio-parent {
    padding: 26px 36px;
  }
}
@media screen and (max-width: 385px) {
  .audio-parent {
    padding: 26 76px;
  }
  audio {
    width: 180px;
  }
}
